{% extends 'base.html' %}

{% block header %}
<h1>Hello from Flask</h1>
{% endblock %}

{% block content %}
    <p>Data from table</p>
    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}

{% endblock%}